# 这个文件放在工程根目录
root = true

# 整个工程目录的所有文件都应该遵守的规则
[*]
end_of_line = lf                    # 所有文件均以 lf 的形式结尾
indent_style = space                # 缩进全都使用空格代替制表符
indent_size = 2                     # 默认缩进为2
charset = utf-8                     # 文本编码全都是用 utf-8 进行编码
quote_type = single                 # 单引号为主
trim_trailing_whitespace = true     # 不保留行末的空格
insert_final_new_line = true        # 在文件的末尾添加一行空行
spaces_around_operators = true      # 运算符两遍都有空格
curly_bracket_next_line = false     # 大括号不另起一行

# html 遵守双引号 json 仅支持双引号
[*.{html,json}]
quote_type = double